@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-image:url('gbemii.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: Electrolize;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightslategray;
}
.counter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem ;
   
}
.big-text {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}
.countdown {
    text-align: center;
}
.countdown span {
font-size: 1.5rem;
}